.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}


.card-img-top {
    height: 50vh;
    object-fit: contain;
}

.card:hover {
    scale: 1.01;
}

.modal-dialog {
    max-width: 50%;
}

.chartListTitle {
    font-size: 0.7rem;
}

.priductsChartPrice,
.productsTablePrice {
    text-align: right;
    white-space: nowrap;
}

.productsTableName,
.productsTableDescription {
    font-size: .8rem;
}

#productsTable>thead td {
    cursor: pointer;
}

.productsTableRemove,
.productsTableEdit,
.productsTableView {
    text-align: center;
    cursor: pointer;
}

.productsTableRemove,
.productsTableEdit,
.productsTableView {
    width: 1rem;
}

.chartTotal td {
    padding-top: .5rem;
}

.card-text a:hover {
    color: #303030 !important;
}